.sidebar {
    box-sizing: border-box;
    height: 100vh;
    width: 250px;
    background-color: #565656;
    padding: 10px;
    padding-top: 20px;
    overflow-y: hidden;

    transition: 0.5s all ease-in-out;
}

.bartoggle {
    position: absolute;

    z-index: 2;
    
    border-radius: 0 5px 5px 0;

    font-family: monospace;
    font-size: large;

    left: 250px;
    top: 5px;

    height: 50px;
    width: 20px;

    background-color: #565656;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    -webkit-user-select: none;
    user-select: none;

    transition: 0.5s all ease-in-out;

}

.subject {
    box-sizing: border-box;
    background-color: none;

    border: 1px solid #7b7b7b;
    border-left: none;
    border-right: none;
    border-bottom: none;
    width: 100%;
    height: 50px;

    padding-left: 5px;
    
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;

    -webkit-user-select: none;
    user-select: none;
}

.subject:hover {
    background-color: #7b7b7b;
}

.subjectdiv {
    height: fit-content;
    width: 100%;
}

.toplist {
    border-radius: 10px 10px 0 0;
}

.bottomlist {
    border-radius: 0 0 10px 10px;
}

.newsubject {
    width: 100%;
    height: 35px;
    background-color: black;
    border-radius: 5px;

    display: flex;
    flex-direction: row;
    overflow: hidden;

    -webkit-user-select: none;
    user-select: none;
}

.newsubject button {
    width: 20%;
    height: 100%;
    border: none;
    background-color: #4e7aff;
    color: white;

    -webkit-user-select: none;
    user-select: none;
}

.newsubject button:hover {
    background-color: #5361ff;
}

.newsubject input {
    width: 80%;
    height: 100%;
    border: none;
    border-right: 2px solid #7b7b7b;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

.seperator {
    height: 30px;
    width: 100%;
    color: #bebebe;
    
    display: flex;
    align-items:end;
    font-size: medium;

    font-variant: small-caps;
    font-family: Arial, Helvetica, sans-serif;

    -webkit-user-select: none;
    user-select: none;
}

.subjectcontainer {

    
    height: fit-content;
    width: 100%;

    border: 1px solid #7b7b7b;
    border-radius: 10px;
    border-top: none;

    overflow: hidden;
}

.subjdisplay {
    display: flex;
    flex-direction: column;

    margin-right: 0;
    margin-left: auto;
    width: calc(100vw - 250px);
    height: 100vh;

    transition: all 0.5s ease-in-out;
}

.subjt2 {
    width: 100%;
    text-align: center;

    font-family: Arial, Helvetica, sans-serif;
    color: #5f5f5f;

    -webkit-user-select: none;
    user-select: none;
}

.subjtitle {
    width: 100%;
    text-align: center;

    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;

    -webkit-user-select: none;
    user-select: none;
}

.subjinfo {
    height: 100%;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;

    display: grid;
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
    column-gap: 20px;

    box-sizing: border-box;

    overflow-y: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    color: transparent;
    width: 0px;
}

.subjstatus {
    
    background-color: #d73925;
    border: transparent;
    width: fit-content;
    padding: 5px;
    border-radius: 3px;

    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;

    -webkit-user-select: none;
    user-select: none;
}

.subjstatus:hover {
    background-color: #a31e0c;
}

.subjtitles {
    box-sizing: border-box;
    width: 100%;
    height: fit-content;
    align-items: center;
    display: flex;
    flex-direction: column;

    border-bottom:1px solid #5f5f5f;
    padding-bottom: 10px;
}

.subjbox {

    background-color: #c7c7c7;
    aspect-ratio: 4/2;   
    width: 100%;

    margin-top: 20px;

    border: 1px solid #888888;
    border-radius: 10px;
}

.subjsessions {
    
    display: flex;
    flex-direction: column;
}

.sessiontitle {
    width: 100%;
    align-items: center;
    text-align: center;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.tablediv {
    height: calc(100% - 35px);
    width: 100%;
    padding: 10px;

    box-sizing: border-box;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
    overflow-y: scroll;
}

.sessiontable {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.sessiontable td, .sessiontable th {
    border: 1px solid black;
}

.subjplaceholder {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    width: calc(100vw - 250px);
    height: 100vh;

    right: 0;

    background-color: white;

    transition: all 0.5s ease-in-out;
    
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;

    -webkit-user-select: none;
    user-select: none;
}

.flexcolumn {
    display: flex;
    flex-direction: column;
}

.tododiv {
    width: 100%;
    height: calc(100% - 65px);

    padding: 10px;
    box-sizing: border-box;

    overflow: hidden;
    overflow-y: scroll;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.todotable {
    width: 100%;
    height: 100%;
}

.todoinputdiv {
    width: 100%;
    height: 30px;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.todoinputdiv input {
    width: calc(100% - 60px);
    border-radius: 10px 0 0 10px;
    border: none;

    padding-left: 10px;
}

.todoinputdiv button {
    width: 40px;
    border-radius:  0 10px 10px 0;
    border: none;
}

.todoinputdiv button:hover {
    background-color: #b7b7b7;
}